{% assign grouping = site.data.ImplementationGuide-hl7cdaexamples.definition.grouping | where: "id", groupingId | first %}

{{ grouping.description | markdownify }}

{% assign resources = site.data.ImplementationGuide-hl7cdaexamples.definition.resource | where: "groupingId", groupingId %}

{% if resources.size > 0 %}
  <table class="grid">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Approval</th>
    </tr>
  {% for resource in resources %}
{% assign approvalExtension = resource.extension | where: "url", "http://hl7.org/cda/hl7.cda.examples/StructureDefinition/ExampleApprovalStatus" | first %}
{% assign statusExtension = approvalExtension.extension | where: "url", "status" | first %}
{% assign sdwgDates = approvalExtension.extension | where: "url", "sdwgApprovalDate" %}

    {% unless statusExtension.valueCode == "draft" %}
      <tr>
        <td>
          <a href="{{ resource.reference.reference | replace: '/', '-' }}.html">{{ resource.name }}</a>
        </td>
        <td>
          {{ resource.description | markdownify }}
        </td>
        <td>


    {% if statusExtension.valueCode == "pending" %}
      {% include labelPending.html %}
    {% elsif statusExtension.valueCode == "withdrawn" %}
      {% include labelWithdrawn.html %}
    {% else %}
      {{ sdwgDates | map: "valueDate" | join: ", " }}
    {% endif %}

        </td>
      </tr>
    {% endunless %}
  {% endfor %}
  </table>
{% else %}
  <p>No examples yet.</p>
{% endif %}
